.breadcrumb
  = link_to "Projecten", [:projects]
  = link_to @deploy.project.name, @deploy.project
  = link_to @deploy.revision, @deploy

.info
  %dl
    %dt When
    %dd= @deploy.created_at.to_s(:db)
    %dt What
    %dd= @deploy.revision
    %dt Where
    %dd= @deploy.where
    %dt Who
    %dd= @deploy.deployer

%h3 Commits deployed
%table
  %thead
    %tr
      %th.narrow Revision
      %th Author
      %th Title
  %tbody
    - @deploy.commits.each do |commit|
      %tr
        %td= link_to commit.short_sha, "#{@deploy.project.repo}/commit/#{commit.sha}", target: :_blank
        %td #{commit.author_name} (#{commit.author_email})
        %td= commit.title
