= form_for(project) do |f|
  - if project.errors.any?
    #error_explanation
      %h2
        = pluralize(project.errors.count, "error")
      prohibited this project from being saved:
    %ul
      - project.errors.full_messages.each do |message|
        %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :repo
    = f.text_field :repo
  .field
    = f.label :external_api_key
    = f.text_field :external_api_key
  .field
    = f.label :slack_token
    = f.text_field :slack_token
  .field
    = f.label :slack_channel
    = f.text_field :slack_channel
  .actions
    = f.submit
