%p#notice= notice
.breadcrumb
  = link_to "Projects", :projects

.container
  - @projects.each do |project|
    .project
      .project-title= link_to project.name, project
      .project-body
        .stats
          %ul
            %li
              #{project.deploys.count}
              %span deploys
            %li
              #{project.commits.count}
              %span commits
            %li
              = project.deploys.select(:deployer).distinct.count
              %span deployers
            %li
              = project.deploys.select(:environment).distinct.count
              %span environments
        - if project.deploys.any?
          Latest deploy:
          = link_to project.deploys.last.created_at, project.deploys.last
        - else
          Never deployed yet.
    %hr/
  = paginate @projects
%br/
= link_to 'Add Project', new_project_path
