%p#notice= notice
.breadcrumb
  = link_to "Projects", [:projects]
  = link_to @project.name, @project

.info
  %dl
    %dt Repo:
    %dd= @project.repo
    %dt Api key:
    %dd= @project.api_key
  = link_to 'Change', edit_project_path(@project)

%h3 Deploys
%table
  %thead
    %tr
      %th Deploy
      %th.narrow Revision
      %th.narrow Commits
      %th Env
      %th Location
      %th Deployer
  %tbody
    - @deploys.each do |deploy|
      %tr
        %td= link_to deploy.created_at.to_s(:db), deploy
        %td= link_to deploy.revision[0..7], deploy
        %td= deploy.commits.count
        %td= deploy.environment
        %td= deploy.location
        %td= deploy.deployer
= paginate @deploys
