.project{
  clear: both;
  margin-bottom: 1em;
  height: 50px;
}

.project-title{
  @include span-columns(2);
  padding: 6px;
}

.project-body{
  @include span-columns(10);
  @include omega();
}

th.narrow {
  width: 90px;
}
